/* Promo AR */
.banner__promo{
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 4px 4px 40px 4px !important;
    min-height: 96px;
    padding: 25px 4px !important;
}
.promo__ar{
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 7px;
}
.glyphicon-agent{
    font-size: 43px;
    margin: 0 5px;
}
.promo__ar_parrafo>h3{
    font-size: 16px;
    font-weight: 700;
    margin: 0 !important;
}
.promo__ar__btn{
    border-radius: 40px;
    width: 110px;
    height: 33px;
    font-size: 14px;
    margin: 0 51px;
}

/* Mobile */
@media (max-width: 767px){
    .promo__ar{
        flex-direction: column;
    }
}
