/* Promo AR */
.confirm-booking__section{
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 4px 4px 40px 4px;
    height: 96px;
}
.promo__ar{
    display: flex;
    justify-items: center;
    align-items: center;
}
.glyphicon-agent{
    font-size: 48px;
}
.promo__ar_parrafo{
    font-size: 16px;
    font-weight: 700;
}
.promo__ar__btn{
    position: absolute;
    right: 65px;
    border-radius: 40px;
    width: 110px;
    height: 33px;
    font-size: 14px;
}