/* ******************************************* */
/* MULT-71 // MULT-245*/
.recomendado {
  box-sizing: border-box;
  border: solid #1585e6;
  border-width: 2px 4px 4px 2px;
}

.deals {
  position: absolute;
  right: -2px;
  padding-right: 0 !important;
}

.info-card__price {
  top: 23px;
  right: 31px;
}

.info-card__price__deals {
  top: 55px;
  right: 20px;
}

.deals>.label-info {
  display: block;
  width: 161px !important;
  height: 33px !important;
  background-color: #1585e6 !important;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px 0 0 8px !important;
  padding: 0.6rem !important;
}

.alojamiento-recomendado {
  border-width: 2px 4px 2px 2px;
  border-style: solid;
  border-color: #1585E6;
  border-radius: 8px;
}

.info-card__category {
  position: absolute;
  top: 48px;
  left: 2px;
  display: flex;
  align-items: center;
}

.info-card__location--action.js-result-map-toggle {
  position: absolute;
  top: 86px;
  left: 10px;
}

.map-link>.glyphicon-map-marker {
  font-size: 27px;
}

.map-link {
  display: none;
  color: #0D4E88;
  font-size: 14px;
}

.info-card__options-toggle {
  font-weight: 600;
  letter-spacing: 1px;
  width: 144px;
  height: 34px;
  padding: 8px 24px;
  background: #DF0032;
  border-radius: 12px;
  position: relative;
  right: 14px;
}

.info-card__actions {
  width: 117px !important;
  bottom: 24px;
  position: absolute;
  right: 32px;
  padding-right: 0 !important;
  display: block;
}

.info-card__actions>.btn-small {
  display: none;
}

.renderPriceTag>.pricetag__item--currency {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #333333;
}

.bestprice__title {
  color: rgba(0, 0, 0, 1);
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  text-align: right;
  margin-bottom: 4px;
}

.iconStar {
  background: #1377CE;
  color: white;
  border-radius: 100%;
  font-size: 19px;
  text-align: center;
  padding: 3px 2px;
  width: 25px;
  text-align: center;

}

.main__container__share {
  width: 183px;
  height: 24px;
  background: #F3F3F3;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 125px;
  left: 14px;
}

.share__icon {
  background: #FFFFFF;
  border: 1px solid #0D4E88;
  border-radius: 12px;
  color: #094173;
  font-size: 12px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.share__text {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
  margin: auto;
}

.info-card__title {
  max-width: 100% !important;
}

.info-card__action-item {
  display: none;
}

.info-card__category>.glyphicon .glyphicon-star {
  font-size: 21px;
}

@media (max-width: 767px) {
  .main__container__share {
    width: 24px;
    top: -34px;
    left: 88%;
  }

  .share__text {
    display: none;

  }

  .recomendado {
    border: 2px solid #1585e6;
  }

  .deals {
    top: -187px;
    left: -4px;
  }

  .deals>.label-info {
    border-radius: 8px !important;
  }

  .result.hotel-result {
    height: 100%;

  }

  .results-list__item {
    height: 421px;
  }

  .info-card {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .info-card__image {
    height: 200px;
  }

  .info-card__image--action {
    width: 100%;
    border-radius: 8px 8px 8px 40px;
  }

  .info-card__image-holder {
    width: 100%;
    height: 200px;
    border-radius: 8px 8px 8px 40px;
  }

  .info-card__image-holder img {
    width: 100%;
  }

  .info-card__content {
    height: 221px;
    position: relative;
  }

  .info-card__content>.info-card__price {
    position: absolute !important;
    width: 135px;
    left: -12px;
    top: 128px;
    height: 50px;

  }

  .info-card__category {
    top: 44px;
    left: 10px;
  }

  .info-card__actions .info-card__options-toggle {
    width: 120px;
    display: block;
    bottom: -9px;
    position: absolute;
    left: 15px;
  }

  .info-card__location--action.js-result-map-toggle {
    top: 76px;
  }

  .info-card__title--action {
    padding-top: 5px;
    line-height: 0.92 !important;
  }

  .bestprice__price {
    text-align: left;
  }
}

/* ******************************************* */

/* Icono contactoPersonalizado */
#upper-menu {
  display: flex;
}

/* .upper-menu__login-button {
    display: none;
  } */

details {
  width: 217px;
  background-color: white;
  z-index: 9;
}

.summaryStyle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #F0F0F0;
  border-radius: 40px;
  color: #295a81;
  width: 217px;
  background: #F0F0F0;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  padding: 5px;
  box-shadow: -4px 0px 0px 0px rgba(28, 91, 148, 1);
  -webkit-box-shadow: -4px 0px 0px 0px rgba(28, 91, 148, 1);
  -moz-box-shadow: -4px 0px 0px 0px rgba(28, 91, 148, 1);
}

.acordeonStyle {
  border: 1px solid #F0F0F0;
  border-radius: 10px;
  width: 218px;
  height: 88px;
  color: #000000;
  margin-top: 4px;
  font-weight: 600;
}

.acordeonStyleWa {
  border-bottom: 1px solid #F0F0F0;
}

.bxAccord {
  margin-right: 6px;
  margin-left: 14px;
  padding: 13px 0;
  color: #1C5B94;
}

.bxl-whatsapp {
  color: #26BD4C;
  font-size: 20px;
}

.acordeonStyleCall {
  height: 47px;
}

/* .upper-menu__phone-wrapper {
    display: none;
  } */

#datailsIdMobile {
  display: none;
}

@media (max-width: 767px) {
  .acordeonStyle .mobile-number {
    display: none;
  }

  .acordeonStyle .desktop-number {
    display: inline-block;
  }

  #datailsId {
    display: none;
  }

  #datailsIdMobile {
    font-size: 21px;
    line-height: 0;
    display: inline-block;
    background: #f0f0f0;
    border-radius: 40px;
    margin: 3px 14px 0px 0;
    box-shadow: -2px 0px 0px 0px rgba(28, 91, 148, 1);
    -webkit-box-shadow: -2px 0px 0px 0px rgba(28, 91, 148, 1);
    -moz-box-shadow: -2px 0px 0px 0px rgba(28, 91, 148, 1);
  }

  .acordeonStyleCallMobile {
    padding: 4px;
    color: #1C5B94;
  }
}

@media(min-width: 767px) and (max-width: 1024px) {
  .details {
    width: 217px;
    background-color: white;
    z-index: 9;
    margin: 0px -11px;
  }
}

/* *********************************************************************************************** */
/* TASK MULT-30 */
.msg-box,
.msg-box--no-results {
  display: none;
}

.page-header-bar {
  padding: 0 !important;
}

.container__bannerNoResultr {
  height: 318px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #CCCCCC;
  border-radius: 1rem;
  margin: 64px 0;

}

.bannerNoResultr_text {
  width: 54%;
  text-align: left;
}

.bannerNoResultr_text>h2 {
  color: #1781DF;
  font-size: 48px;
  font-weight: bold;
  text-align: left;
}

.bannerNoResultr_text__p1 {
  font-size: 16px;
}

.bannerNoResultr_text__p2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 1rem;

}

.bannerNoResultr_img {
  width: 137px;
  height: 206px;
}

.btn_Style_NoResult {
  width: 180px;
  height: 44px;
  border-radius: 40px;
  border: 0;
  background-color: #00DF16;
  color: #FFFFFF;
  font-weight: 600;
  letter-spacing: 1px;
}

.btn_Style_NoResult:hover {
  background-color: #00a610;
}

@media (max-width: 767px) {
  .container__bannerNoResultr {
    flex-direction: column-reverse;
    border: 0;
    height: auto;
    margin: 32px 0;
  }

  .bannerNoResultr_img {
    width: 52px;
    height: 78px;
  }

  .bannerNoResultr_text {
    width: 100%;
    text-align: center;
  }

  .bannerNoResultr_text>h2 {
    font-size: 40px;
    text-align: center
  }

  .bannerNoResultr_text__p1,
  .bannerNoResultr_text__p2 {
    font-size: 16px;
  }

}

/* ****************************************** */
/* MULT-139 */
.booking-data__cross-selling,
.booking-data__section-side-title {
  display: none;
}

/* ****************************************** */
/* MULT-127 */
#flights-searcher-more-options>.searcher-row:nth-of-type(1)>.col-xs-6.col-sm-4.col-md-4:nth-child(2),
#flights-searcher-more-options>.searcher-row:nth-of-type(2)>.col-xs-12.col-sm-4.col-md-4:nth-child(1),
#flights-searcher-more-options>.searcher-row:nth-of-type(2)>.col-xs-12.col-sm-4.col-md-4:nth-child(2),
#flight-searcher-more-options>.searcher-row:nth-of-type(1)>.col-xs-6.col-sm-4.col-md-4:nth-child(2),
#flight-searcher-more-options>.searcher-row:nth-of-type(2)>.col-xs-12.col-sm-4.col-md-4:nth-child(1),
#flight-searcher-more-options>.searcher-row:nth-of-type(2)>.col-xs-12.col-sm-4.col-md-4:nth-child(2) {
  display: none;
}

#flights-searcher-more-options>.searcher-row:nth-of-type(1)>.col-xs-6.col-sm-4.col-md-4:nth-child(1),
#flight-searcher-more-options>.searcher-row:nth-of-type(1)>.col-xs-6.col-sm-4.col-md-4:nth-child(1),
#flights-searcher-more-options>.searcher-row:nth-of-type(2)>.col-xs-12.col-sm-4:nth-child(3),
#flight-searcher-more-options>.searcher-row:nth-of-type(2)>.col-xs-12.col-sm-4:nth-child(3) {
  width: 100%;
}

/* ******************************************  */
/* MULT-150 */
.confirm-booking__insurances {
  display: none;
}

/* ******************************************* */
/* MULT-199 */
/* BannerTop */
.main__container__bannerTop {
  display: flex;
  justify-content: space-between;
  padding-left: 8px !important;
  padding-right: 8px !important;
  margin-bottom: 2rem;
}

.main__container_left {
  box-sizing: border-box;
  margin-right: 16px;

  width: 263px;
  height: 260px;

  background: #c4c4c4;
  border-radius: 8px 8px 8px 40px;
}

.main__container_center {
  box-sizing: border-box;
  margin-right: 16px;

  width: 566px;
  height: 260px;

  background: #c4c4c4;
  border-radius: 8px;
}

.main__container_right {
  box-sizing: border-box;

  width: 263px;
  height: 260px;

  background: #c4c4c4;
  border-radius: 8px 40px 8px 8px;
}

@media (max-width: 767px) {

  /* SCROLL HORIZONTAL */
  .scroll-mobile {
    max-width: 100%;
    display: flex;
    overflow: auto;
  }

  .scroll-mobile::-webkit-scrollbar {
    width: 0;
  }

  .scroll-mobile {
    min-width: 258px;
  }

  .main__container_left,
  .main__container_center,
  .main__container_right {
    min-width: 268px;
    height: 304px;
  }
}

/* ************************************************************** */
/* MULT-127 */
.btn-more-options {
  display: none;
}

.radio {
  display: none;
}

.singledestination-only>.checkbox {
  margin-top: 4px !important;
  margin-bottom: 10px !important;
}


/* ******************** MULT-209 ***************************/
/* Warning Price */
.main__warningPrice {
  background: #EAF4FC;
  border-radius: 8px;
  padding: 6px 16px;
  display: flex;
  align-items: center;

}

.main__warningPrice>p {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 144%;
  color: #000000;
  max-width: 524px;
  min-height: 32px;
  margin: 0 !important;
}

.glyphicon-info-circle {
  color: #2196F3;
  font-size: 19px;
  min-width: 32px;
}

/* ********** MULT-230 ********************** */
.booking-payment__info.prepayment>p {
  display: none;
}

/* **********************************************/
#home-carousel {
  display: none;
}

#flight-searcher {
  position: inherit;
}
/* *************** MULT-271 ********************** */
.flight-selection__box .flight-selection__breakdown > *:not(:nth-last-child(-n+3)) {
  display: none;
}
/* ************************************************** */

.details-card__map {
  height: 226px !important;
  border-radius: 8px;
}

#js-results-map-container {
  border-radius: 8px;
}

.chevron-down-hotels {
  position: absolute;
  right: 22px;
  top: 21px;
  font-size: 28px;
}

.details-card__section {
  position: relative;
  cursor: pointer;
  border-radius: 8px;
}

.gallery__item.item.gallery__item--with-caption {
  border-radius: 8px;
}

.details-card__availability {
  border-radius: 8px;
}