/* ******************************************* */
/* MULT-71 */
.result>.hotel-result{
  border: solid #1585e6;
    border-width: 2px 4px 2px 4px;
}
.deals{
  position: absolute;
}
.deals-available{

}
.info-card__price{
  top: 46px !important;
}
.label-info {
  background-color: #1585e6 !important;
}