/* Estilos generales de la web */
/* *** Fechas calendario *** */
.ui-icon:before{
    color: #DF0032 !important;
}
/* nuevo espacio */
#home-content-5 {
    display: block !important;
}
#home-top {
    margin-bottom: 2rem !important;
}
.hotel-result{
    border-radius: 1rem;
    overflow: hidden;
}
.home-content-4>.home-row{
    margin-bottom: 0 !important;
}
/* Banner general */
 .main_conteiner__s1_medio__paquetes {
    border-radius: 8px 40px 8px 40px;
    overflow: hidden;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.page-header-bar{
    padding: 0 !important;
}
.top_mkt{
    margin-top: 2rem !important;
}
.home-row {
    margin-bottom: 24px !important;
}
/****** Caja de busqueda*********** */
    #home-carousel>.carousel-inner {
        height: 290px;
    }

/* Estilos newsletter */
.fix-margin>.newsletter__container{
   background: #f7f7f7 !important;
}
/************ Seccion Cards *****************/
/* Titulos */
.sliding-offers-v3>.offer-title {
    margin: 0 !important;
}
.text-center {
    text-align: left !important;
}
.title {
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 20px !important;
    letter-spacing: 0.1px;
  }
.subtitle{
    margin-bottom: -10px !important;
}
.sliding-offers-v3 .panel{
    margin-bottom: 0 !important;
}
/* Estilo cards Juniper */
.sliding-offers__image-holder>picture>img {
    padding: 6px !important;
    border-radius: 1rem !important;
}
.sliding-offers__image-holder img {
    width: 100%;
}
.sliding-offers__image-holder {
    position: relative;
    overflow: hidden;
    border-radius: 1rem !important;
}
.caption>.force-pull-left {
    position: absolute;
    bottom: 28px;
}
.sliding-offers__image-holder picture {
    position: inherit !important;
    top: 0 !important;
}
@media (max-width: 564px) {
    #home-content-1>.home-row{
        margin-bottom: 10px !important;
    }
    /* Scroll Cards Juniper */
    .sliding-offers-v3>.panel {
        overflow-x: scroll;
        white-space: nowrap;
        margin-bottom: 0 !important;
    }
    .panel .thumbnail {
        min-height: 378px !important;
    }
    .sliding-offers-v3>.panel::-webkit-scrollbar {
        width: 0;
    }
    body.home.home--default .home-v5 .sliding-offers-v3 .panel .row {
        display: block;
        margin-left: -3px;
    }

    .col-inline-block {
        max-width: 255px;
        margin: auto;
    }
    .sliding-offers-v3 .panel .caption.main {
        min-height: 212px !important;
    }
    .sliding-offers-v3 .panel .caption.main p.price{
        bottom: 11px !important;
    }
    .scrollable-step {
        padding: 0 !important;
        padding-left: 3px !important;
    }
    /* .sliding-offers__image-holder img {
        height: 160px !important; 
        object-fit: fill;
    } */
}
/* ******************************************************** */
