
/* Estilos generales de la web */

/* Vuelos */
.flight-bestprices{
    border-radius: 1rem;
}
.btn-tertiary {
    background-color: brown;
    color: white;
}
.hotel-result{
    border-radius: 1rem;
    overflow: hidden;
}

@media (max-width: 1023px) {
    /* Circuito */
    .super-package-searcher{
        margin: 8px;
        border-radius: 1rem;
    }    
}

/* Estilos newsletter */
.fix-margin>.newsletter__container{
   background: #f7f7f7 !important;
}
