.main__bookingPaxes{
    display: flex;
    padding: 6px 16px;
    gap: 12px;
    width: 578px;
    height: 116px;
    background: #EAF4FC;
    border: 1px solid #0D3C61;
    border-radius: 8px;
    align-items: center;
}

.bookingPaxes__p{
    color:#2196F3;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.15px;
}

.main__bookingPaxes__span>span {
    color:#2196F3;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.15px;
}