
/* Home */
/* Caja de busqueda */
/* Ocultar btn mas opciones */

/* ocultar radius */
.singledestination-only{
  display: none;
}
.radio {
    display: none;
  }
/* Estilos newsletter */
.fix-margin>.newsletter__container{
   background: #f7f7f7 !important;
}
