/* MULT-199 */
/* BannerTop */
.main__container__bannerTop {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-left: 8px !important;
  padding-right: 8px !important;
  margin-bottom: 2rem;
}

.bannerTop__img {
  height: 100%;
}

.main__container_left {
  box-sizing: border-box;
  margin-right: 16px;

  width: 263px;
  height: 260px;

  background: #c4c4c4;
  border-radius: 8px 8px 8px 40px;
  overflow: hidden;
  box-shadow: 4px 4px 8px -1px rgba(0, 0, 0, 0.20)
}

.main__container_center {
  box-sizing: border-box;
  margin-right: 16px;

  width: 566px;
  height: 260px;

  background: #c4c4c4;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 4px 4px 8px -1px rgba(0, 0, 0, 0.20)
}

.main__container_right {
  box-sizing: border-box;

  width: 263px;
  height: 260px;

  background: #c4c4c4;
  border-radius: 8px 40px 8px 8px;
  overflow: hidden;
  box-shadow: 4px 4px 8px -1px rgba(0, 0, 0, 0.20)
}

#bannerTop__center {
  cursor: pointer;
}

@media (max-width: 767px) {

  /* SCROLL HORIZONTAL */
  .scroll-mobile {
    max-width: 100%;
    display: flex;
    overflow: auto;
  }

  .scroll-mobile::-webkit-scrollbar {
    width: 0;
  }

  .scroll-mobile {
    min-width: 258px;
  }

  .main__container_left,
  .main__container_center,
  .main__container_right {
    min-width: 268px;
    height: 304px;
  }
}

/* ************************************************************** */
/* BTN STYLE */
.btnStyleBannerPre {
  position: absolute;
  bottom: 8%;
  right: 18%;
  width: 64%;
  height: 15%;
  border-radius: 12px;
  background: #0D4E88;
  color: #F3F3F3;
  font-weight: 600;
}

.btnStyleBannerPre:hover {
  background-color: #134570;
  color: #F3F3F3;
}

.main__container_right,
.main__container_left,
.main__container_center {
  position: relative;
}

#bannerTop__center>.btnStyleBannerPre {
  display: none;
}

/* ****************** CUPONERA ************* */
.main__container__CuponeraBannerTop {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  /* Ancho máximo del contenedor principal */
  margin: 0 auto;
  /* Centrar el contenedor horizontalmente */
  padding: 10px;
  /* Agregar un poco de espacio alrededor del contenedor */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  justify-items: center;
  align-items: center;
}

.main_cardCupon {
  position: relative;
  width: 366px;
  max-width: 100%;
  height: 168px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid #DEDEDE;
  background: #B9FFD5;
}

.main_cardCupon_CuponCode {
  position: absolute;
  bottom: 16px;
  left: 16px;
}

.cardCuponButtonStyle {
  position: absolute;
  display: inline-flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: #FFF;
  color: #0D4E88;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  bottom: 16px;
  right: 20px;
  border: 0;
}

.cardCuponButtonStyle:hover {
  background: #FDCE07;
  color: #0D4E88;
}

.cardCuponButtonStyle::selection {
  border: 2px solid #FFF;
  background: #6E37D0;
  color: white;
}

.main_ToolTipButton {
  width: 67px;
  height: 26px;
  position: absolute;
  display: inline-flex;
  padding: 4px 10px;
  justify-content: center;
  gap: 10px;
  border-radius: 20px;
  background: #FDCE07;
  right: 10px;
  bottom: -15px;
}

.main_ToolTipButton>p {
  color: #6E37D0;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.12px;
}

/*  */
@media (min-width: 768px) and (max-width: 1023px) {
  .btnStyleBannerPre {
    bottom: 23px;
    right: 51px;
    width: 59%;
    height: 13%;
    border-radius: 12px;
    background: #0D4E88;
    color: #F3F3F3;
    padding: 3px 0 0 0;
  }

  .grid-container {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .main__container__bannerTop {
    margin-top: 2rem;
  }

  .btnStyleBannerPre {
    position: absolute;
    bottom: 6%;
    right: 20%;
    width: 58%;
    height: 15%;
    border-radius: 12px;
    background: #0D4E88;
    color: #F3F3F3;
  }

  #bannerTop__left>.btnStyleBannerPre {
    display: none;
  }

  #bannerTop__center>.btnStyleBannerPre {
    display: inline;
  }

  /* Cuponera */
  .main__container__CuponeraBannerTop {
    flex-direction: column;
  }

  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    text-align: center;
  }

  .main_cardCupon {
    width: 100%;
    max-width: none;
  }
}