/* <!-- CSS --> */
/* container */
.upper-menu__login-button {
    display: none;
}

.page-header-bar {
    padding: 0 !important;
}

.content-body {
    margin-top: 0;
}

.content-body>.container {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
}

.main__conteiner>img {
    width: 100%;
    height: 100%;
}

.main__conteiner-principal {
    margin-top: -32px;
}

source>img {
    width: 100%;
    height: 100%;
}

.main-content {
    background-color: white !important;
}

.main__conteiner__titulo {
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 20px;
    letter-spacing: 0.1px;
}

.main__conteiner__s1__destacado__card>a {
    display: block;
    height: 100%;
}

/* /* Banner hero * */
.main_conteiner__s1_medio {
    width: 100%;
    height: 126px;
}

.main_conteiner__s1_medio__paquetes {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: 4rem;
    margin-top: 1rem;
}

.main_conteiner__s1_medio__paquetes__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page-header-bar {
    padding: 0 !important;
}

/* Lo mejor de Multitravel.com */
.main__conteiner__s1 {
    margin-top: 1rem;
}

.main__conteiner__s1__titulo {
    padding: 16px 0;
    font-size: 20px;
}

.main__conteiner__s1__destacado {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    height: 320px;
    gap: 1rem;
    overflow: hidden;
    margin-bottom: 4rem;
}

.main__conteiner__s1__destacado__texto {
    padding-right: 0px;
}

.main__conteiner__s1__destacado__texto>h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 0.4rem;
}

.main__conteiner__s1__destacado__texto>p {
    font-size: 16px;
}

.main__conteiner__s1__destacado__card {
    overflow: hidden;
    height: 100%;
    width: 100%;
    border: 1px solid #e1e1e1;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.1));
    position: relative;
}

.main__conteiner__s1__destacado__card__img {
    width: 100%;
    object-fit: contain;
}

.uno {
    border-radius: 8px;
}

.dos,
.tres,
.cuatro,
.cinco,
.seis {
    border-radius: 8px;
}

/* Carrusel */
.carrusel__contenedor {
    position: relative;
    margin-bottom: 3rem;
}

.carrusel__anterior,
.carrusel__siguiente {
    position: absolute;
    display: block;
    width: 35px;
    height: 35px;
    border: none;
    top: calc(50% - 24px);
    cursor: pointer;
    line-height: 35px;
    color: #fff;
    background: #fccd07;
    font-size: 1.5rem;
    z-index: 1;
    border-radius: 50%;
    opacity: 100%;
}

.carrusel__anterior:hover,
.carrusel__siguiente:hover {
    opacity: 100%;
}

.carrusel__anterior {
    left: -13px;
}

.carrusel__siguiente {
    right: -13px;
}

.carrusel__elemento {
    margin: 10px;
}

.glider.draggable .glider-slide img {
    user-select: all !important;
    pointer-events: all !important;
}

/* Spinner */
.lds-roller {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 37%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fccd07;
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.btn_Style_Venta_Per {
    position: absolute;
    bottom: 3%;
    right: 4%;
    padding: 2% 5%;
    color: white;
    min-width: 44%;
    background-color: #2A8BFE;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}

.btn_Style_Venta_Per:hover {
    background-color: #1169B7;
}

/* ---*-*-*-*-*-*-*-*-*-*- */
/* MOBILE */
@media (max-width: 964px) {
    .main__conteiner__s1__destacado {
        max-height: 600px;
        display: flex;
        justify-content: space-between;
        overflow-x: auto;
        gap: 1rem;
    }

    .glider::-webkit-scrollbar {
        width: 0 !important;
    }

    .uno,
    .dos,
    .tres,
    .cuatro,
    .cinco,
    .seis {
        min-width: 90%;
        text-align: center;
        background-color: #ddd;
    }

    .main__conteiner__s1>.main__conteiner__titulos {
        padding-block: 0px;
    }

    .pagos__card__texto__btn {
        display: none;
    }
}

@media (max-width: 600px) {
    .carrusel {
        margin-top: 3rem;
    }

    /* Estilos btn buscar mobile */
    .pull-right {
        width: 100%;
    }

    /* Estilo caja de busqueda */
    .multi-searcher {
        margin: 8px;
    }

    .multi-searcher__content {
        border-radius: 1rem !important;
    }

    .show-more {
        display: none;
    }

    #flights-searcher {
        margin: 8px;
    }

}

@media (min-width: 868px) {
    .main__conteiner-principal {
        margin-top: 0;
    }
}

@media (max-width: 564px) {

    /* SECCION 1 */
    .main__conteiner__s1 {
        align-items: flex-start;
        flex-direction: column;
    }

    .main__conteiner__s1__titulo {
        display: inline;
        margin-bottom: 1rem;
    }

    .main__conteiner__s1__destacado__texto {
        display: none;
    }

    .main__conteiner__s1 {
        margin-bottom: 0;
    }

    .carrusel__anterior,
    .carrusel__siguiente {
        display: none;
    }
}

/* ****************************************************** */
/* BannerTop PreViaje4 */
.rowStyle {
    display: flex;
    gap: 20px;
}

.main__container__left,
.main__container__right {
    border-radius: 40px 8px;
    overflow: hidden;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.main__container__right {
    position: relative;
}

.btnStyleBannerPre {
    position: absolute;
    bottom: 8%;
    right: 18%;
    width: 64%;
    height: 15%;
    border-radius: 12px;
    background: #0D4E88;
    color: #F3F3F3;
    font-weight: 600;
}

.btnStyleBannerPre:hover {
    background-color: #134570;
    color: #F3F3F3;
}

/* Icono Evento */
.eventImg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 48px;
    height: 48px;
    left: 14px;
    top: 12px;
    background: #A3A3A3;
    border-radius: 64%;
    text-align: center;
    overflow: hidden;
}


@media (max-width: 767px) {
    .rowStyle {
        flex-direction: column;
    }

    .main__container__left {
        display: none;
    }

    .main__container__right {
        max-width: 334px;
        margin: auto;
    }

    .btnStyleBannerPre {
        position: absolute;
        bottom: 6%;
        right: 20%;
        width: 58%;
        height: 15%;
        border-radius: 12px;
        background: #0D4E88;
        color: #F3F3F3;
    }

    .priceStyle {
        font-size: 25px;
    }

    .eventImg {
        width: 38px;
        height: 38px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .btnStyleBannerPre {
        display: none;
    }

    .btnStyleBannerPre {
        bottom: 23px;
        right: 51px;
        width: 59%;
        height: 13%;
        border-radius: 12px;
        background: #0D4E88;
        color: #F3F3F3;
        padding: 3px 0 0 0;
    }
}

@media (width: 1024px) {
    .containerPreViaje {
        margin-top: 40px
    }
}

.priceStyle {
    position: absolute;
    bottom: 2%;
    left: 10%;
    font-size: 20px;
    font-weight: 700;
}

/* Warning Price */
.main__warningPrice {
    max-width: 590px;
    min-height: 60px;
    background: #EAF4FC;
    border: 1px solid #0D4E88;
    border-radius: 8px;
    padding: 6px 16px;
    display: flex;
    align-items: center;

}

.main__warningPrice>p {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 144%;
    color: #000000;
    max-width: 524px;
    min-height: 32px;
    margin: 0 !important;
}

.glyphicon-info-circle {
    color: #2196F3;
    font-size: 19px;
    min-width: 32px;
}