/* MULT-205 */
.confirm-booking__promocodes {
    border-radius: 8px;
    border: 2px solid #0D4E88;
    background-color: #DEE9F5;
    background-image: url(https://multitravelcom.github.io/MT/Secciones/Booking-2/Cupon/cupon-desktop.webp);
    position: relative;
    height: 150px;
    background-size: 100% 150px;
  }
  
  .booking-data__data__text {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 46%;
    height: 100%;
  }
  
  .promocode__apply-button {
    background: #0D4E88;
    border-color: #0D4E88;
    border-radius: 8px;
    width: 83px;
    height: 40px;
  }
  
  .promocode__apply-button:hover {
    background: #0D4E88;
    border-color: #0D4E88;
  }
  
  .promocodes__container {
    margin: auto;
    position: absolute;
    height: 97px;
    left: 16%;
    top: 4%;
  }
  
  .form-control.promocode-input {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
  }
  
  .promocodes__container--title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }
  
  .promocodes__container--image {
    display: none;
  }
  
  .booking-data__data__text__h2 {
    position: absolute;
    width: 258px;
    height: 40px;
    left: 6%;
    top: 12%;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
  
    color: #FFFFFF;
  }
  .booking-data__data__text__h2>h2{
    line-height: 20px !important;
  }
  
  .booking-data__data__text__p>p {
    position: absolute;
    width: 258px;
    height: 22px;
    font-style: italic;
    font-weight: 500;
    font-size: 9px;
    line-height: 11px;
    color: #FFFFFF;
    bottom: 29%;
    left: 13%;
  }
  
  .booking-data__data__text__span {
    position: absolute;
    left: 13%;
    bottom: 3%;
    font-style: italic;
    font-weight: 500;
    font-size: 9px;
    line-height: 11px;
    color: #FFFFFF;
  }
  
  .booking-data__data__text__span>p {
    width: 186px;
    height: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  
    color: #FFFFFF;
  }
  
  @media(max-width: 767px) {
    .confirm-booking__promocodes {
      background-image: url(https://multitravelcom.github.io/MT/Secciones/Booking-2/Cupon/cupon-mobile.webp);
      height: 287px;
      background-position: center;
      background-size: contain;
    }
  
    .booking-data__data__text {
      width: 44%;
    }
  
    .booking-data__data__text__h2 {
      left: 10%;
      top: 2%;
    }
  
    .booking-data__data__text__h2>h2 {
      font-size: 17px;
      line-height: 1.2;
    }
  
    .booking-data__data__text__p>p {
      left: 20%;
      bottom: 40%;
      font-size: 12px;
      font-style: normal;
    }
  
    .booking-data__data__text__span {
      left: 20%;
      bottom: 7%;
    }
  
    .promocodes__container {
      margin: auto;
      position: absolute;
      height: 97px;
      left: 17%;
      top: 4%;
    }
  
    .promocodes__container td {
      padding: 7px 0 0;
    }
  
  
    .form-control.promocode-input {
      width: 144px;
    }
  
    .booking-data__data__text {
      width: 100%;
      height: 50%;
    }
  
    .promocodes__container {
      display: contents;
    }
  
    .promocodes {
      position: absolute;
      left: 24%;
      top: 5%;
    }
  }
  
  @media(min-width: 768px) and (max-width: 1023px) {
    .confirm-booking__promocodes {
      background-image: url(https://multitravelcom.github.io/MT/Secciones/Booking-2/Cupon/cupon-desktop.webp);
      height: 138px;
      background-size: contain;
    }
  }
  
  @media(width: 1024px) {
    .promocodes__container {
      left: 13%;
    }
    .confirm-booking__promocodes{
      background-size: 102% 152px;
    }
  }