/* ******************** MULT-209 ***************************/
/* Warning Price */
.main__warningPrice {
    background: #EAF4FC;
    border-radius: 8px;
    padding: 6px 16px;
    display: flex;
    align-items: center;
    
  }
  
  .main__warningPrice>p {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 144%;
    color: #000000;
    max-width: 524px;
    min-height: 32px;
    margin: 0 !important;
  }
  .glyphicon-info-circle{
    color: #2196F3;
    font-size: 19px;
    min-width: 32px;
  }
  .booking-breakdown__item booking-breakdown__item--total.booking-breakdown__item--total-price.booking-breakdown__item--is-pay-web{
    margin-top: 0 !important;
  }
  /* **********************************************/