.recomendadoBorde {
    border-color: #1585E6;
    border-width: 4px 2px 2px 2px;
    border-style: solid;
}

.divTaxCopyStyle {
    font-size: .7857rem;
    color: #323232;
    line-height: 1.15;
    margin-left: auto;
}