/* Estilos FlighHotel Repo */
    :root {
        --border-radius-divs: 8px 40px 8px 40px;
        --margin-section: 3rem;
        --border-solid-card: 2px solid #dddd;
        --fondo-card: #ffffff;
        --box-shadow: 10px 10px 6px -5px rgba(0,0,0,0.120);
        --fondo-btn: #0d4e88;
        --fondo-btn-hover: #324352;
    }

    .main-content {
        background-color: white !important;
    }

    .benefits-v2{
        display: none;
    }

    .benefits {
        display: none;
    }

    .promo_mobile {
        display: revert;
    }

    .promo_mobile_cards{
            display: none;
        }

    .text_center{
        padding: 0;
        margin: 0;
    }

    .main__conteiner-principal {
        margin-top: -140px;
    }
    
    .carousel-inner {
        height: 100%;
    }
    .home-carousel>.carousel-inner{
        height: 334px;
    }

    .img-horizontal {
        width: 100%;
    }
    .main__conteiner__s2 {
        margin-bottom: 5rem;
    }

    /* Paquete personalizado */
    .main__container__s1__personalizado{
        display: flex;
        justify-content: space-between;
        gap: 16px;
        margin-bottom: 3rem;
    }
    .main__container__s1__personalizado__uno, .main__container__s1__personalizado__dos{
        border-radius: 16px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: #1B88E7;
    }
    .main__container__s1__personalizado__img {
         width: 100%;
         height: 100%;
    }
    .main__container__s1__personalizado__source{
        width: 100%;
    }

    /* Arma tu paquete */
    .main_conteiner__s1_medio__paquetes{
        border-radius: 16px;
        overflow: hidden;
        margin-bottom: 3rem;
        margin-top: 3rem;
}

    .main__conteiner__titulo {
        font-weight: 700;
        margin-bottom: 1rem;
	font-size: 20px;
	letter-spacing: 0.1px;
    }

    .mobile {
        display: none;
    }

    /* Arma tu paquete */
    .main_conteiner__s1_medio__paquetes{
        border-radius: 32px;
        overflow: hidden;
        margin-bottom: 4rem;
}

    .main__conteiner__titulo {
        font-weight: 700;
        margin-bottom: 1rem;
	font-size: 20px;
	letter-spacing: 0.1px;
    }

    /* Medios de pago */

    .main__conteiner__s2__pagos__card {
        border: var(--border-solid-card);
        overflow: hidden;
    }

    .main__conteiner__s2__pagos {
        display: flex;
        border-radius: 8px;
        gap: 15px;
        justify-content: center;
        height: 272px;
        overflow: hidden;
    }

    .uno__s2 {
        display: flex;
        justify-content: space-between;
        width: 862px;
        height: 100%;
        background-color: white;
        border-radius: 8px;
    }

    .dos__s2 {
        width: 286px;
        height: 100%;
        border-radius: 8px 40px;
        background-image: url(https://www.multitravel.com/images/upload//LandingPage/Vuelos/ahora12vuelos.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        border: 0;
    }

    .main__conteiner__s2__pagos__card__texto {
        width: 320px;
        height: 100%;
        padding: 5rem 1rem 1rem 2rem;
        position: relative;
    }

    .main__conteiner__s2__pagos__card__texto>h4 {
        font-weight: 700;
        font-size: 24px;
    }

    .main__conteiner__s2__pagos__btn {
        position: absolute;
        left: 28px;
        bottom: 26%;
        border-radius: 100px;
        background-color: var(--fondo-btn);
        color: white;
        padding: 10px;
        width: 102px;
        height: 40px;
        border: transparent;
    }

    .main__conteiner__s2__pagos__btn:hover {
        background-color: var(--fondo-btn-hover);
    }


    .main__conteiner__s2__pagos__card__img {
        width: 542px;
        height: 100%;
        background-color: gainsboro;
        border-radius: 136px 8px 8px 0;
        background-image: url(https://www.multitravel.com/images/upload//LandingPage/Vuelos/pagovuelos.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    /* Multitravel.com piensa en todo */

    .main__conteiner__s3__piensa {
        height: 248px;
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        margin-bottom: 4rem;
    }
    .main__conteiner__s3>.container{   
        padding: 0;

    }
    .uno__s3 {
        background-image: url(https://www.multitravel.com/images/upload//LandingPage/Vuelos/alojamineto-vuelos.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 8px 8px 8px 40px;
        height: 100%;
        padding-inline: 0;
        position: relative;
        overflow: hidden;

    }

    .dos__s3 {
        background-image: url(https://www.multitravel.com/images/upload//LandingPage/Vuelos/paquetes-vuelos.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 8px;
        height: 100%;
        padding-inline: 0;
        position: relative;
        overflow: hidden;
    }

    .tres__s3 {
        background-image: url(https://www.multitravel.com/images/upload//LandingPage/Vuelos/actividades-vuelos.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 8px 40px 8px 8px;
        height: 100%;
        padding-inline: 0;
        position: relative;
        overflow: hidden;
    }

    .hover__s3:hover{
        box-shadow: var(--box-shadow);
    }

    .main__conteiner__s3__piensa__parrafo {
        background-color: #1B88E7;
	font-size: 18px;
	opacity: 90%;
        width: 100%;
        height: 61px;
        text-align: inherit;
        padding: 1.2rem;
        color: white;
        font-weight: 600;
        position: absolute;
        bottom: 0;
        overflow: hidden;
	padding-left: 40px;
	letter-spacing: 1px;
    }
     /* MOBILE */
    /* SCROLL CARDS */

    @media (max-width: 600px) {

        .main__conteiner-principal {
            margin-top: -40px;
        }
        .uno,
        .dos,
        .tres {
            min-width: 90%;
            line-height: 110px;
            text-align: center;
            background-color: #ddd;

        }
        .main__conteiner__s2__doble {
            display: flex;
            flex-wrap: wrap;
        }
        .main__conteiner__s3__triple{
            flex-direction: column;
        }
        .main__conteiner__s3__triple__card {
            display: flex;
            flex-direction: row-reverse;
            height: 77px;
        }
        .main__conteiner__s3__triple__card__texto{
            width: 100%;
        }
        .main__conteiner__s3__triple__card__img{
            border-radius: 0 8px;
            width: 147px;
        }
        .pagos__card__texto__btn{
            display: none
        }

        /* <!-- Paquete personalizado --> */
        .main__container__s1__personalizado{
            margin-top: 0rem;   
        }
        .main__container__s1__personalizado__dos{
            display: none;
        }

        /* Arma tu paquete */
        .mobile {
            display: block;
        }
    }

    
    .main__container__carrusell/* COMENTARIOS */
    .main__container__carrusell {
        margin-bottom: 3rem;
    }
    
    .comentarios_seccion {
        display: grid;
        grid-template-columns: repeat(2, minmax(290px, 1fr));
        grid-template-rows: repeat(1, 1fr);
        column-gap: 18px;
        row-gap: 26px;
        flex-wrap: wrap;
    }
    
    .comentarios_seccion::-webkit-scrollbar {
        width: 0;
    }
    
    .container__card {
        display: flex;
        border: 2px solid #ddd;
        border-radius: 1rem;
        width: 100%;
    }
    
    .card__img {
        width: 128px;
    }
    
    .card_texto {
        width: 429px;
        height: 100%;
        padding: 10px 14px;
        text-align: left;
    }
    
    .card__img img {
        border-radius: 1rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .nombre__usuario .titulo__usuario {
        font-size: 16.8px;
        padding-top: 3px;
        text-align: left;
    }
    
    .nombre__usuario .servicio {
        font-size: 11px;
        text-align: left;
    }
    
    .comentarios p {
        font-size: 14px;
        height: 100%;
    }
    
    .comentarios .location {
        margin: 0;
    }
    
    .nombre__usuario h3 {
        margin: 2px;
    }
    
    .servicio h6 {
        margin: 0;
        padding-bottom: 7px;
    }
    
    span .glyphicon {
        font-size: 1.2rem !important;
    }
    
    .fa-star {
        color: #ffc107;
    }
    
    .fa-star-half-o {
        color: #ffc107;
    }
    
    .fa-star-o {
        color: #ffc107;
    }
    
    .locations .glyphicon {
        font-size: 1.1rem !important;
        color: rgb(160, 24, 24);
    }
    
    .titulos__seccion {
        text-align: inherit;
        font-weight: 700;
        font-size: 20px;
        margin-left: 1rem;
        letter-spacing: 0.1px;
    }
    
    .style__btn {
        text-align: center;
        padding: 1rem;
        margin-top: 1rem;
    }
    
    .btn__comentarios {
        padding: 12px;
    }
    
    
    /* carousel */
    #quote-carousel {
        padding: 0 10px 30px 10px;
        margin-top: 1rem;
    }
    
    /* Control buttons  */
    #quote-carousel .carousel-control {
        background: none;
        color: #222;
        font-size: 2.3em;
        text-shadow: none;
        margin-top: 30px;
    }
    
    /* Previous button  */
    #quote-carousel .carousel-control.left {
        left: -85px;
    
    }
    
    /* Next button  */
    #quote-carousel .carousel-control.right {
        right: -85px !important;
    }
    
    /* Changes the position of the indicators */
    #quote-carousel .carousel-indicators {
        right: 50%;
        top: auto;
        bottom: -100px;
        height: 100px;
        margin-right: -19px;
    }
    
    /* Changes the color of the indicators */
    #quote-carousel .carousel-indicators li {
        background: #c0c0c0;
    }
    
    #quote-carousel .carousel-indicators .active {
        background: #333333;
    }
    
    #quote-carousel>.carousel-inner {
        max-height: 100%;
    }
    
    /* Small devices (tablets, 768px and up) */
    @media (min-width: 868px) {
        #quote-carousel {
            margin-bottom: 0;
            padding: 0 8px 30px 8px;
        }
    
        .card_texto {
            padding: 10px 16px;
        }
    
        .container__card {
            height: auto;
        }
    }
    
    /* Small devices (tablets, up to 768px) */
    @media (max-width: 868px) {
        #quote-carousel .carousel-indicators {
            bottom: -100px !important;
        }
    
        .promo_mobile {
            display: revert;
        }
    
        .main__conteiner-principal {
            margin-top: -40px;
        }
    
    
        .promo_mobile_cards {
            display: revert;
        }
    
    
        #quote-carousel .carousel-indicators li {
            display: inline-block;
            margin: 0px 5px;
            width: 15px;
            height: 15px;
        }
    
        #quote-carousel .carousel-indicators li.active {
            margin: 0px 5px;
            width: 20px;
            height: 20px;
        }
    
        /* Previous button  */
        #quote-carousel .carousel-control.left {
            left: -45px;
            display: none;
        }
    
        /* Next button  */
        #quote-carousel .carousel-control.right {
            right: -45px !important;
            display: none;
        }
    
        .comentarios_seccion {
            grid-template-rows: repeat(1, 1fr);
        }
    
        .card_texto {
            padding: 10px 16px;
        }
    
        .comentarios_seccion {
            justify-content: start;
        }
    
        .card__img {
            width: 140px;
            height: 88px;
            /* border-radius: 50%; */
            overflow: hidden;
            padding: 7px;
        }
    }

    @media (max-width: 564px) {
        .comentarios_seccion {
            grid-template-columns: repeat(2, minmax(100%, 1fr));
            grid-template-rows: repeat(1, 1fr);
        }

        .promo_mobile {
            display: none;
        }

        .comentarios_seccion::-webkit-scrollbar {
            width: 0;
        }

        /* SECCION 2 */
        .main__conteiner__s2{
            margin-bottom: 3rem;
        }
        .main__conteiner__s2__pagos{
            flex-direction: column;
            height: 100%;
        }
        .uno__s2{
            height: 216px;
            width: 100%;
        }
        .dos__s2 {
            height: 120px;
            width: 100%;
            background-position-y: -104px;
        }
        .main__conteiner__s2__pagos__card__texto{
            padding: 3rem 1rem;
        }
        .main__conteiner__s2__pagos__btn{
            left: 12px;
            bottom: 10%;
        }
        .main__conteiner__s2__pagos__card__img{
            width: 200px;
            height: 100%;
            background-position: -110px;
        }

        /* SECCION 3 */

        .main__conteiner__s3__piensa{
            flex-direction: column;
        }
        .uno__s3, .dos__s3, .tres__s3{
            border-radius: 8px;
            background-position-y: -65px;
        }
        .main__conteiner__s3__piensa__parrafo{
            width: 200px;
            height: 100%;
            left: 0;
        }
        .main__conteiner__s3__piensa__parrafo>p{
            padding: 9px;
        }

        /*  */
   /* Estilos caja de busqueda */
   #master-searcher{
    margin: 8px;
    border-radius: 1rem;
}
.pull-right{
    width: 100%;
}
        
    }