/* /* // Circuitos */
/* // Fondo de banner-caja de busqueda */
.home-v5__carousel {
    background-color: rgba(241,241,241,0.9);
}

@media (max-width: 1023px) {
    /* Circuito */
    .super-package-searcher{
        margin: 8px;
        border-radius: 1rem;
    }    
}