/* .booking-payment__info.prepayment>p{
    display: none;
} */
.booking-payment__info.pos>.pos {
    display: none;
}
/* 
#main-content>div:nth-child(2)>div>div>div.booking-data__data>div.confirm-booking__section.booking-payment>hr{
    display: none;
} */