/* Vuelos */
/* mejor precio */
.flight-bestprices {
    border-radius: 1rem;
}

/* --- */
/* Resultados de vuelo */
/* 1+/-1 */
.flight-result__change-dates {
    display: none;
}

/* --- */
/* MEDIA MOBILE */
@media (max-width: 767px) {
    .flight-bestprices {
        display: none;
    }
    /* Caja de busqueda vuelos*/
    .btn-more-options {
        display: none;
    }
    .search-summary {
        display: inline-flex !important;
    }
    /* Resultadso de busqueda */
    /* Checkbox */
    .result-option__select-option, .result-option__select-option{
        width: 10% !important;
        margin: auto !important;
    }
    .result-option__select-option>input{
        display: block !important;
    }
    /* Mostrar vuelta en mobile */
    .flight-result__route, .flight-result__route--return{
        display: inline-block !important;
    }
    
    /* Estilos newsletter */
    .fix-margin>.newsletter__container {
        background: #f7f7f7 !important;
    }
}
