/* CSS PAQUETES */
/* Estilos icons check */
.glyphicon-check-whl{
    padding: 0 5px;
    color: green;
}
.glyphicon-supplement {
    display: none;
}
/* Ocultar segudno btn Reservas */
.info-card__book{
    display: none;
}
.info-card__content{
    width: 255px;
}
/* ************************************************* */
.flight-bestprices{
    border-radius: 1rem;
}
.btn-tertiary {
    background-color: brown;
    color: white;
}
.hotel-result{
    border-radius: 1rem;
    overflow: hidden;
}
