/* Ocular telefono - MULT61 */
.details-card__phone {
    display: none;
}
/***************** MULT-246 ***************/
.checkbox.fancy-checkbox.searcher__on-product-fixed-hidden{
    display: none;
}
/* **************************************** */
/* ***** MULT-249 ******************* */
.result-option__offer-info{
    display: none;
}