/* Alojamiento */
.hotel-result{
    border-radius: 1rem;
    overflow: hidden;
}
/* Estilos newsletter */
.fix-margin>.newsletter__container{
   background: #f7f7f7 !important;
}

#hotel-searcher{
width: 100%;
}

/* MEDIA MOBILE */
@media (max-width: 767px) {
/*  Caja de busqueda Alojamiento    */
    .btn-more-options{
        display: none;
}
